* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

.loader-page {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #000000;
  z-index: 9999999;
}
.loader-page h1 {
  font-family: Growth;
  color: #f13c0e;
  font-size: 24vw;
  line-height: 1;
  font-weight: 100;
  position: relative;
}
.loader-page h1 span {
  font-family: Growth;
  color: #f13c0e;
  font-size: 24vw;
  line-height: 1;
  font-weight: 100;
}
.n {
  position: absolute;
  top: 20%;
  left: 2%;
}
.y {
  position: absolute;
  top: 20%;
  left: 42%;
}
.c {
  position: absolute;
  top: 18%;
  right: 12%;
}
.container-scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  z-index: 99;
  display: block;
  /* background: #000; */
}
.container-scroll-bar .scroll-bar {
  display: block;
  width: 0;
  height: 100%;
  background-color: #fa5a32;
}

a {
  text-decoration: none;
}
img {
  filter: grayscale(1);
  transition: filter 0.2s;
}
img:hover {
  filter: grayscale(0);
  cursor: pointer;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.nav a {
  color: #fa5a32;
  font-family: Growth;
  font-size: 2.8rem;
}

.main {
  background: pink;
  /* position: relative; */
}
.cool-animation {
  opacity: 0;
}
.home-page {
  width: 100%;
  height: 100vh;
  position: relative;
}
.home-bg-image {
  width: 100%;
  height: 100%;
  background: #000;
}
.home-bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-bg-image-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.381);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}
.home-headline {
  /* background: lavender; */
  display: flex;
  padding: 0rem 2.3rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
}
.home-headline h1 {
  font-family: Growth;
  color: #fa5a32;
  font-size: 22vw;
  line-height: 1;
  font-weight: 100;
}
.home-headline-bottom-p {
  display: flex;
  flex-direction: column;
  padding: 0rem 2.3rem;
  margin-top: 1rem;
}
.home-headline-bottom-p p {
  width: 17%;
  color: #fff;
  font-family: gilroy;
  font-size: 0.8rem;
  opacity: 0.7;
}
.page2 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.page2-left {
  width: 30%;

  /* background: cyan; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}
.page2-left div {
  width: 100%;
  height: 85vh;
  position: relative;
}
.page2-left div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
.page2-left div:hover img {
  filter: grayscale(0);
}
.page2-left p {
  font-size: 0.7rem;
  font-family: gilroy;
  margin-top: 0.1rem;
}
.page2-right {
  width: 40%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  /* background: slateblue; */
}
.page2-right h1 {
  font-size: 20vw;
  font-family: Growth;
  font-weight: 100;
  white-space: nowrap;
  position: absolute;
  top: -40%;
  left: -19%;
  color: #fa5a32;
  /* background: #000; */
  overflow: hidden;
  letter-spacing: -3px;
}
.page2-right h1 span {
  /* font-size: 20vw; */
  font-family: Growth;
  font-weight: 100;
  display: inline-block;
}
.page2-right p {
  width: 40%;
  font-size: 0.8rem;
  opacity: 0.8;
}
.page2-right :nth-child(2) {
  margin-top: 15rem;
}
.page2-right :nth-child(3) {
  margin-top: 3rem;
}
.page3 {
  width: 100%;
  height: 80vh;
  background: #fff;
}
.page3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page4 {
  width: 100%;

  background: #fff;
  display: flex;
  padding: 10rem;
  align-items: center;
}
.page4-left {
  display: flex;
  flex-direction: column;
}
.page4-left h1 {
  left: -10%;
  position: relative;
  font-size: 20vw;
  font-family: Growth;
  color: #fa5a32;
  font-weight: 100;
  z-index: 9999999;
  /* background: #000; */
  white-space: nowrap;
  overflow: hidden;
}
.page4-left h1 span {
  /* font-size: 20vw; */
  font-family: Growth;
  font-weight: 100;
  display: inline-block;
  z-index: 9999999999999999;
}
.page4-left p {
  margin-top: 4rem;
  font-size: 0.8rem;
  width: 40%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.page4-left h2 {
  letter-spacing: -2px;
  font-family: Growth;
  font-weight: 100;
  font-size: 10vw;
  margin-top: 6rem;
}
.page4-right {
  display: flex;
  flex-direction: column;
}
.page4-right div {
  margin-top: 60px;
  width: 45vw;
  height: 65vh;
  position: relative;
  left: -3.6rem;
}
.page4-right div img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}
.page4-right div:hover img {
  filter: grayscale(0);
}
.page4-right p {
  margin-top: 0.01rem;
  position: relative;
  left: -3.6rem;
  font-size: 0.8rem;
}

.page5 {
  padding: 2rem 0;
  position: relative;
  height: 120vh;
  background: #000;
}
.page5 h1 {
  font-size: 20vw;
  color: #fa5a32;
  font-family: Growth;
  font-weight: 100;
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.slider-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
}

.row1 {
  width: 100%;
  display: flex;
  padding: 0 10rem;
  column-gap: 40rem;
}
.row1 p {
  font-family: Inter, Arial, sans-serif;
  font-size: 0.75rem;
  color: #0f0f0f;
  height: fit-content;
  line-height: 0.95rem;
  width: 15%;
  color: white;
}
.cursor {
  opacity: 0;
  transition: opacity 0.4s;
}
li {
  list-style: none;
}
li span {
  font-family: Inter, Arial, sans-serif;
  font-size: 0.85rem;
  color: #0f0f0f;
  height: fit-content;

  color: white;
  padding-left: 0.5rem;
  transition: color 0.4s;
}
.row2 {
  position: relative;
  height: 70vh;
  /* background: lavender; */
  top: 10%;
  z-index: 9999999;
  display: flex;
  align-items: end;
  column-gap: 250px;
}
.row2 .slide {
  /* background: #000; */
  display: flex;
  align-items: end;
  column-gap: 100px;
}
.slide p {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.part1 div {
  margin-top: 5px;
  /* background: #b40e0e; */
  width: 600px;
  height: 400px;
}
.part1 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.part2 div {
  margin-top: 5px;
  /* background: #b40e0e; */
  width: 300px;
  height: 300px;
}
.part2 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page6 {
  width: 100%;
  padding: 6rem 2rem;
  background: #fff;
  display: flex;
}
.page6-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  /* background: lavender; */
}

.page6-left div {
  width: 75%;
  height: 90vh;
  /* background: #000; */
  margin-top: 6rem;
  margin-bottom: 5px;
}
.page6-left div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page6-left p {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.page6-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.page6-right h1 {
  font-size: 20vw;
  font-family: Growth;
  color: #fa5a32;
  font-weight: 100;
}
.page6-right div {
  display: flex;
  column-gap: 10rem;
}
.page6-right div p {
  text-align: left;
  margin-top: 2.5rem;
  font-size: 0.8rem;
  width: 32%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.page6-image {
  margin-top: 4rem;
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.page6-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page6-right h6 {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}
.page7 {
  width: 100%;
  padding: 6rem 12rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page7-center {
  width: 100%;
  background: #fff;
  display: flex;
}
.page7-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.page7-left h1 {
  font-size: 20vw;
  font-family: Growth;
  color: #fa5a32;
  font-weight: 100;
}
.page7-left p {
  font-family: Inter, Arial, sans-serif;
  font-size: 0.75rem;
  color: #0f0f0f;
  height: fit-content;
  line-height: 0.95rem;
  width: 48%;
}
.page7-rigth {
  display: flex;
  flex-direction: column;
}
.page7-right div {
  width: 35vw;
  margin-top: 8rem;
  height: 80vh;
  background: #000;
  margin-bottom: 5px;
}
.page7-right div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page7-right p {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}
.page7-bottom {
  width: 100%;
}
.page7-bottom div {
  margin-top: 5rem;
  width: 100%;
  height: 70vh;
  margin-bottom: 5px;
}
.page7-bottom div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page7-bottom p {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}
.page7-footer {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page7-footer p {
  font-size: 0.6rem;
}
